body {
    width: 200px;
    background-color: rgb(28, 27, 34);
}

#banner {
    height: auto;
    background-color: rgb(70, 6, 131);
    border-radius: 18px;
}

#banner h2 {
    color: aliceblue;
    text-align: center;
}

#GenerateButton {
    text-align: center;
    padding-bottom: 20px;
}

#qr-code{
    display: none;
    background-color:  white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#qr-code img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}